<div
  class="flex items-center justify-between p-6 mb-4 font-semibold text-black duration-200 rounded-md shadow-lg cursor-pointer bg-pink-50 hover:shadow-xl hover:scale-105 hover:bg-white"
  (click)="toggleTodo(todo.id, todo.title, todo.completed)"
  [ngClass]="{
    '!bg-green-100 hover:!bg-green-200 font-normal ': todo.completed
  }"
  (mouseenter)="editTodoToolbarLoaded = true"
  (mouseleave)="editTodoToolbarLoaded = false"
>
  <div class="flex items-center space-x-2">
    <div *ngIf="todo.completed">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="3"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="text-green-600 feather feather-check-circle"
      >
        <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
        <polyline points="22 4 12 14.01 9 11.01"></polyline>
      </svg>
    </div>
    <div *ngIf="!todo.completed">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="3"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="text-gray-400 feather feather-circle"
      >
        <circle cx="12" cy="12" r="10"></circle>
      </svg>
    </div>
    <span [ngClass]="{ 'line-through': todo.completed }">
      {{ todo.title | titlecase }}
    </span>
  </div>
  <app-edit-todo-toolbar
    *ngIf="editTodoToolbarLoaded"
    [todo]="todo"
    (delete)="deleteTodo(todo.id)"
  ></app-edit-todo-toolbar>
</div>
